body {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.scores {
    font-size: 30px;
    font-weight: bold;
}

button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 150px;
  text-align: center;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  button {
    padding: 1rem 2rem;
  }
}